<script>
window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= get_config('open_graph.fb_app_id') %>',
      xfbml      : true,
      version    : 'v3.3'
    });
    FB.AppEvents.logPageView();
};
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/<%= closest_rfc5646_with_country_code(page_language()) %>/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-comments" data-width="100%" data-href="<%= page.permalink %>" data-num-posts="5"></div>
